In [1]:

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
csv_path = r'f:\sv_mochoujiedao\色彩丰富度-cri.csv'

# 读取CSV文件
df = pd.read_csv(csv_path)

In [3]:
df.head()

                            image_name       cri
0    100_118.7559056_32.02280474_0.png  0.182720
1  100_118.7559056_32.02280474_180.png  0.167168
2  100_118.7559056_32.02280474_270.png  0.206103
3   100_118.7559056_32.02280474_90.png  0.182720
4      101_118.7553577_32.023713_0.png  0.418390

In [4]:

# 创建归一化器
scaler = MinMaxScaler(feature_range=(0, 1))

# 归一化第二列数据
df['cri'] = scaler.fit_transform(df[df.columns[1]].values.reshape(-1, 1))

# 保存归一化后的数据到新的CSV文件
df.to_csv('f:\sv_mochoujiedao\色彩丰富度-01.csv', index=False)

In [10]:
df.head()
df

      image_name       cri   cri-0-1
0        0_0.jpg  0.995059  0.995059
1        0_1.jpg  0.988791  0.988791
2        0_2.jpg  0.996841  0.996841
3        0_3.jpg  0.996231  0.996231
4     1000_0.jpg  0.997978  0.997978
...          ...       ...       ...
9563   999_3.jpg  0.998575  0.998575
9564    99_0.jpg  0.995252  0.995252
9565    99_1.jpg  0.996805  0.996805
9566    99_2.jpg  0.995419  0.995419
9567    99_3.jpg  0.997301  0.997301

[9568 rows x 3 columns]